.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.menu {
  flex: 1;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.window {
  border: 1px solid white;
  background-color: black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.windowName {
  background-color: white;
  color: black;
  padding: 3px;
}


.alliesBar {
  flex: 1;
  margin: 5px;

  display: flex;
  justify-content: space-around;
}

.characterCell {
  flex: 1;
  text-align: center;

  position: relative;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr;    
}

.attackWindow {
  height: 100%;
  width: 100%;
  background-color: white;
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  z-index: 5;
}

.castingWindow {
  height: 0;
  width: 100%;
  background-color: gray;
  grid-column: 1;
  grid-row: 1;
}

.resourceContainer {
  grid-column: 1;
  grid-row: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5px;
}

.statContainer {
  display: flex;
}

.EXHAUSTED {
  border: 1px solid yellow;
  color: yellow;
}

.DEAD {
  border: 1px solid red;
  color: red;
}

.BLOCKING {
  border: 1px solid blue;
  color: blue;
}

.tvContainer {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr;
  overflow: hidden;  
}

.background, .enemyPortait {
  background-position: 50% 50%;
  background-repeat: no-repeat;

  width: 100%;

  grid-column: 1;
  grid-row: 1;
}

.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.modalMenu {
  position: absolute;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-10px, -10px); }
  20%, 40%, 60%, 80% { transform: translate(10px, 10px); }
  100% { transform: translate(0, 0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

meter {
  appearance: none;
  border-radius: 5px;
}

.meterContainer {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr;
  margin-bottom: 3px;    
}

.healthMeter, .flowMeter {
  background: transparent;
}

.healthMeter, .bleedMeter, .magicMeter, .flowMeter, .staminaMeter, .meterNumber {
  grid-column: 1;
  grid-row: 1;
}

.healthMeter:-moz-meter-optimum::-moz-meter-bar, .healthMeter::-webkit-meter-optimum-value {
  background: red;
}

.bleedMeter:-moz-meter-optimum::-moz-meter-bar, .bleedMeter::-webkit-meter-optimum-value {
  background: yellow;
}

.staminaMeter:-moz-meter-optimum::-moz-meter-bar, .staminaMeter::-webkit-meter-optimum-value {
  background: green;
}

.flowMeter:-moz-meter-optimum::-moz-meter-bar, .flowMeter::-webkit-meter-optimum-value {
  background: turquoise;
}

.magicMeter:-moz-meter-optimum::-moz-meter-bar, .magicMeter::-webkit-meter-optimum-value {
  background: blue;
}

.meterNumber {
  text-align: right;
  padding-right: 5px;
}

.menuContent {
  padding: 5px;
}

.menuOption {
  all: unset;
  
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  width: 100%;
}

.menuOption:disabled {
  color: gray;
}


.optionCost, .magicCost {
  text-align: end;
  flex: 1;
}

.magicCost {
  text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgba(52, 251, 12, 1);
}
