.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  /* position: relative;
  filter: url(#chromaticAbberation);
  -webkit-filter: url(#chromaticAbberation); */
}

.sceneContainer {
  flex: 4;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.enemyPortait {
  position: fixed;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.animeText {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  position: relative;
  z-index: 5;
  
  padding-bottom: 20px;

  -webkit-text-stroke: 1.25px black;
  -webkit-text-fill-color: yellow;

  justify-self: flex-end;
}

.typeAnimation {
  white-space: nowrap;
  overflow: hidden;
  
  width: 100%;
  animation: type 2s steps(60, end); 
}

@keyframes type { 
  from { width: 0; } 
} 

.menu {
  flex: 1;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.battleOptions {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menuRow {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.menuButton {
  flex: 1;
  text-align: center;

  font-size: 32px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.partyBar {
  display: flex;
  flex: 1;
}

.characterCell {
  flex: 1;
  border: 1px solid white;
  text-align: center;
  
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  border: 1px solid yellow;
}

.characterCellDead {
  border: 1px solid red;
  color: gray;
}

.characterCellExhausted {
  border: 1px solid purple;
  color: purple;
}

.actorMessage {
  padding: 10px;
  text-align: left;
}

.actorDialogue {
  display: inline-block;
  padding: 10px 0 0 10px;
}

.actorDialogue::after {
  content: "";
  display: inline-block;
  border-top: 5px solid transparent;
  border-right: 5px solid;
  border-bottom:5px solid transparent;
  opacity: 0;
  position: relative;
  left: 5px;
  animation: 1s steps(1,end) infinite blink-animation;
}


@keyframes blink-animation {
  50% { opacity: 1; }
}

.optionDiv {
  padding: 10px;
}

.optionDiv:hover {
  color: yellow;
}


.tvContainer {
  position: relative;
  width: 100%;
  height: 100%;

  flex: 4;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

/* big moving line effect */
.tvContainer::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 5%;
  background: rgba(255,255,255,.1);
  -moz-animation: lineeffect 8000ms infinite linear;
  -o-animation: lineeffect 8000ms infinite linear;
  -webkit-animation: lineeffect 8000ms infinite linear;
  animation: lineeffect 8000ms infinite linear;
}

.staticEffect {
  position: relative;
  width: 100%;
  height: 100%;
}

/* static effect */
.staticEffect::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background-image: 'url("/reaper/assets/textures/static.png")';
  -moz-animation: noise 200ms infinite linear;
  -o-animation: noise 200ms infinite linear;
  -webkit-animation: noise 200ms infinite linear;
  animation: noise 200ms infinite linear;
  opacity: .25;
}

.oldTvContent {
  position: absolute;
  width: 100%;
  height: 100%;

  
  /* Jitter Effect */
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  -moz-animation: crt-image 20ms alternate infinite;
  -o-animation: crt-image 20ms alternate infinite;
  -webkit-animation: crt-image 20ms alternate infinite;
  animation: crt-image 20ms alternate infinite;
  opacity: 0.9;

  /* position text on bottom */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Line Effect */
.oldTvContent::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(0, #FFF, #FFF 2px, transparent 4px );
  opacity: 0.125;
  -moz-animation: crt-pixels 20ms alternate infinite;
  -o-animation: crt-pixels 20ms alternate infinite;
  -webkit-animation: crt-pixels 20ms alternate infinite;
  animation: crt-pixels 20ms alternate infinite;
}  

@keyframes crt-image {
  0% {
      transform: translateY(-1px);
  }

  100% {
      transform: translateY(0px);
  }
}

@keyframes crt-pixels {
  0% {
      transform: translateY(-2px);
  }

  100% {
      transform: translateY(0px);
  }
}

@keyframes noise {
  0% {
      background-position: 0px 1000px;
  }

  50% {
      background-position: -1000px;
  }

  100% {
      background-position: 100px 0px;
  }
}

@keyframes lineeffect {
  0% {
      top: -20%;
      opacity: 0;
  }

  20% {
      opacity: 0;
  }

  50% {
      opacity: 0.8;
  }

  80% {
      opacity: 0;
  }

  100% {
      top: 100%;
      opacity: 0;
  }
}

.menuViewsContainer {
}

.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.modalMenu {
  position: absolute;
  background: black;
  border: 1px solid white;
  width: fit-content;
  padding: 5px;

}

.modalMenuHeader {
  font-size: 32px;
}

.modalMenuOption {
  font-size: 28px;

  margin-left: 20px;
  padding: 2px;
}

.effect {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;

  pointer-events: none;

  background-repeat: no-repeat;
  background-size: contain;

  animation: fadeOut .5s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1;}
  75% { opacity: 1;}
  100% { opacity: 0;}
}

.attackDescription {
  font-size: 24px;
  padding: 10px;
}

.emoji {
  position: absolute;
  z-index: 70;
  bottom: 80px; 
  pointer-events: none;
  font-size: 24px;
}

