.dialogueContainer {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.dialogueBox {
  flex: 1;
  height: 33%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.dialogueName {
  background-color: black;
  padding: 5px;
  margin: 2px;
  border: medium solid white;
  border-radius: 5px;

  grid-column-start: 3;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;

  justify-self: end;
  align-self: end;
}

.dialogueBackground {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: black;
}

.dialoguePortrait {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: -1;

  align-self: end;
}

.dialogueText {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;

  margin: 10px;
}

.dialogueTextIndicator::after {
  content: "";
  display: inline-block;
  border-top: 5px solid transparent;
  border-right: 5px solid;
  border-bottom:5px solid transparent;
  opacity: 0;
  position: relative;
  left: 5px;
  animation: .5s steps(1,end) infinite blink-animation;
}

@keyframes blink-animation {
  50% { opacity: 1; }
}