@font-face {
  font-family: rainyhearts;
  src: url('../fonts/rainyhearts.ttf');
}

@font-face {
  font-family: winkle;
  src: url('../fonts/winkle.ttf');
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

canvas {
  padding: 0;
  overflow: hidden;
}

#game > div {
  display: flex;
  align-items: flex-end;
}

#game > div > * {
  pointer-events: auto;
}
