.title {
  font-size: 32px;
  letter-spacing: 2.5px;
  text-align: center;
  margin: 10px;
  margin-top: 24px;
}

.mainMenuButton {
  font-size: 24px;
  letter-spacing: 2.5px;
  text-align: center;
  margin: 10px;
}

.mainMenuButton:hover {
  color: yellow;
}
