.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100%;
    width: 100%;
    pointer-events: none;
}

.menuContainer {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100%;
    width: 100%;

    padding: 10px;
}

.startBar {
    width: 100%;
    pointer-events: auto;
}

.combatantBar {
  background-color: black;
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.menuContent {
    flex: 1;
}

.healthMeter {
    height: 3px;
}

.window {
  background: linear-gradient(to bottom right,#0053ad, #001b85, #000223);
  background: -moz-linear-gradient(to bottom right,#0053ad, #001b85, #000223);
  background: -webkit-linear-gradient(to bottom right,#0053ad, #001b85, #000223);
  background: -o-linear-gradient(to bottom right,#0053ad, #001b85, #000223);
  
  border: 2px ridge white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);

  border-radius: 3px;
  display: flex;
  flex-direction: column;
}



.item {
    all: unset;
}

.item:disabled {
    color: gray;
}

.abilitiesContainer {
    flex: 1;
}


