.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100%;
    width: 100%;
    pointer-events: none !important;
}

.container > * {
    pointer-events: auto;
}

.menuContainer {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100%;
    width: 100%;

    padding: 10px;
}

.startBar {
    width: 100%;
    background-color: black;
}

.combatantBar {
  display: flex;
  width: 100%;
}

.menuContent {
    flex: 1;
}

.healthMeter {
    height: 3px;
}

.item {
    all: unset;
}

.item:disabled {
    color: gray;
}

.abilitiesContainer {
    flex: 1;
}

.ticker {
overflow: hidden;
  white-space: nowrap;
}

.tickerTrack {
  display: inline-flex;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}