.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 1000;
  overflow: auto;
}

.footer {
  padding: 2rem 1rem;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.closeButton {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.background {
  position: relative;
  width: 100%;
  aspect-ratio: 9 / 16;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogueBubble {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-out;
  
  background-color: #222;
  
  padding: 24px ;
  border-radius: 24px;
  max-width: 80%;
  font-size: 24px;
  font-weight: 500;
  z-index: 10;
}
 

 
